body {
  font-family: 'times new roman', times serif;
  margin: 20px;
  padding: 0;
  background-color: #d3c9d2
}

h1 {
  text-align: center;
  color: #343a40;
  font-family: 'Times New Roman', Times, serif;
}

form {
  max-width: 600px;
  margin: auto;
  background-color: #f3d8f1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

fieldset {
  border: 2px solid #e666dd;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #e6dee5
}

legend {
  font-weight: bold;
  text-align: center;
  color: #343a40;
}

label {
  display: block;
  margin-top: 10px;
  color: #343a40;
}

input,
textarea {
  width: calc(80% - 1px);
  padding: 8px;
  margin-top: 4px;
  border: 1px, solid #e666dd;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  font-family: "Roboto", sans-serif;
  display: block;
  margin: auto;
  font-size: 18px;
  font-weight: bold;
  background: #e084da;
  width: 80%;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  box-align: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

button:hover,
button:focus,
button:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#resumeOutput {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 2px solid #e666dd;
  background-color: #e6dee5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

#resumeOutput h2{
  color: #343a40;
}